In [19]:
from statsmodels.formula import api as smf
from statsmodels import api as sm
from pandas import pandas as pd

In [14]:
data = pd.read_csv('3campain.csv')

In [15]:
data.head()

  Campain  Sell
0       A  12.6
1       A  12.0
2       A  11.8
3       A  11.9
4       A  13.0

In [27]:
result = smf.ols("Sell~Campain", data=data).fit()

In [24]:
sm.stats.anova_lm(result)

            df     sum_sq   mean_sq         F    PR(>F)
Campain    2.0   3.606905  1.803452  0.821297  0.455683
Residual  18.0  39.525476  2.195860       NaN       NaN