In [2]:
import numpy as np

In [5]:
vector = [1,2,3]

print(vector)

In [9]:
print(type(vector))

<class 'list'>

In [12]:
npvector = np.array(vector)

In [13]:
print(type(npvector))

<class 'numpy.ndarray'>

In [2]:
t1 = (12, ("A","b"), True)

In [4]:
print(t1)

(12, ('A', 'b'), True)

In [2]:
import pandas as pd

In [7]:
myserie = pd.Series({
    'n1':'val1',
    'n2':None
})

In [8]:
myserie['n1']

'val1'

In [10]:
myserie2 = pd.Series(['val1', None], index=['n1','n2'])

In [13]:
myserie2['n1']

'val1'

In [15]:
myserie2.iloc[0]

'val1'

In [23]:
df1 = pd.DataFrame({'col1':pd.Series({
    'n1':'val1',
    'n2':None
}),'col2':pd.Series({
    'n1':'val2',
    'n2':'val3'
    
})})

In [25]:
df1

    col1  col2
n1  val1  val2
n2  None  val3

In [28]:
df1 = pd.DataFrame([pd.Series({
    'n1':2,
    'n2':None
}),pd.Series({
    'n1':3,
    'n2':'val3'
    
})])

In [30]:
df1

    n1    n2
0  2.0   NaN
1  3.0  val3

In [55]:
df1['n1']*=2

In [56]:
df1

    n1    n2
0  2.0   NaN
1  3.0  val3

In [65]:
df1[(df1['n1']>2) & (df1['n2']!=None)]

    n1    n2
1  3.0  val3

In [67]:
a = 10

In [68]:
b = 20

In [75]:
if a>5 and b>11:
    print("OK")

OK